body{
    background-color: #800202;
    font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: aliceblue;
 }
 div {
    color: #530000;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #f8f8f8;
    background-color: #ffffff;
    border-radius: 15px 0px 15px 0px;
    border: solid 2px #999999;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #c0c2c3;
 }